﻿@using Agrobanco.SIGD.Presentacion.Models
@model Representante
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="title">Editar Representante</h4>
    <i class="material-icons btn-close modal-action modal-close">close</i>
</div>
<div class="modal-content content-input">
    @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmRegistroRep" }))
    {
        @Html.AntiForgeryToken()

        <div class="section-border-bottom">
            <div class="row">
                <div class="input-field input-field-common col s12 m3 disabled">
                    <label class="label active" for="correlativo">Código : </label>
                    <input name="CodRepresentante" id="txtCodRepresentante" type="text" class="input-common" value=@Model.CodRepresentante>
                </div>
            </div>
        </div>
        <input type="hidden" name="CodEmpresa" value="@Model.CodEmpresa" />
        <div class="row">
            <div class="input-field input-field-common col col s12 m4 ">
                <select name="TipRepresentante" id="cbTipoRepresentante" class="select-require" required value="@Model.TipRepresentante">
                    <option value="">Seleccione</option>
                    @foreach (var item in ViewBag.TipoRepresentante)
                    {
                        if (item.Valor == Convert.ToString(Model.TipRepresentante))
                        {

                            <option value="@item.Valor" selected="selected">@item.Campo</option>
                        }
                        else
                        {
                            <option value="@item.Valor">@item.Campo</option>
                        }
                    }
                </select>
                <label class="label" for="TipRepresentante">Tipo de Representante :</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col col s12 m4 ">
                <select name="CodTipDocIdentidad" id="cbCodTipDocIdentidad" class="select-require" required value="@Model.CodTipDocIdentidad">
                    <option value="">Seleccione</option>

                    @foreach (var item in ViewBag.TipDocIdentidad)
                    {

                       if (item.iCodTipDocIdentidad.ToString() == Convert.ToString(Model.CodTipDocIdentidad))
                            {
                                <option value="@item.iCodTipDocIdentidad" selected="selected">@item.Descripcion</option>
                            }         
                        else
                        {
                            <option value="@item.iCodTipDocIdentidad">@item.Descripcion</option>
                        }
                    }

                </select>
                <label class="label" for="CodTipDocIdentidad">Tipo de Documento :</label>
            </div>
        </div>
        <div class="section-border-bottom">
            <div class="row">
                <div class="input-field input-field-common col s12 m3">
                    <label class="label active" for="correlativo">Nro. Documento : </label>
                    <input name="NumDocumento" id="txtNumDocumento" type="text" class="input-common" value=@Model.NumDocumento required maxlength="20">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col s12">
                <label class="label active" for="asunto">Nombre :</label>
                <input name="Nombres" id="txtNombres" value="@Model.Nombres" autocomplete="off" type="text" required maxlength="200">
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col s12">
                <label class="label active" for="asunto">Dirección :</label>
                <input name="Direccion" id="txtDireccion" value="@Model.Direccion" autocomplete="off" type="text" required maxlength="500">
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col s12">
                <label class="label active" for="asunto">Correo :</label>
                <input name="Email" id="txtEmail" value="@Model.Email" autocomplete="off" type="email" required maxlength="100">
            </div>
        </div>

        <div class="row">
            <div class="input-field input-field-common col s12">
                <label class="label active" for="asunto">Teléfono :</label>
                <input name="Telefono" id="txtTelefono" value="@Model.Telefono" autocomplete="off" type="text" required maxlength="20">
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col s12">
                <label class="label active" for="asunto">Fax :</label>
                <input name="Fax" id="txtFax" value="@Model.Fax" autocomplete="off" type="text"  maxlength="100" >
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col s12">
                <label class="label active" for="asunto">Celular :</label>
                <input name="Celular" id="txtCelular" value="@Model.Celular" autocomplete="off" type="text" maxlength="20">
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col col s12 m4 ">
                <select name="Estado" id="cbEstado" class="select-require" required value="@Model.Estado">
                    <option value="">Seleccione</option>
                    @foreach (var item in ViewBag.Estados)
                    {
                        if (item.Valor == Convert.ToString(Model.Estado))
                        {

                            <option value="@item.Valor" selected="selected">@item.Campo</option>
                        }
                        else
                        {
                            <option value="@item.Valor">@item.Campo</option>
                        }
                    }
                </select>
                <label class="label" for="Estado">Estado</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 btn-container">
                <button id="btnGuardarRep" class="btn waves-effect waves-light btn-default" type="submit">
                    <span>Guardar</span>
                    <i class="material-icons prefix">check</i>
                </button>
                <button id="btnCancelarRep" class="btn waves-effect waves-light btn-warning modal-action modal-close">
                    <span>Cancelar</span>
                </button>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/Scripts/app/Mantenimientos/ManRepresentantes.js")
