﻿@using Agrobanco.SIGD.Presentacion.Models
@model Empresa
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="title">Ver Empresa</h4>
    <i class="material-icons btn-close modal-action modal-close">close</i>
</div>

<div class="modal-content modal-content-tabs">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#Detalle">Detalle de Empresa</a></li>
            <li class="tab col s6"><a href="#Representantes">Representantes</a></li>
        </ul>
    </div>

    <div id="Detalle" class="col s12 tab-content">

        <div class="modal-content modal-content-tabs">
            <div class="row">
                <div class="col s12 tab-content">
                    <div class="no-mar-top row card-panel card-common card-lightblue">
                        <div class="row">
                            <div class="col s4 right-align">
                                <b><label class="label css-titulo">Código:</label></b>
                            </div>
                            <div class="col s8 left-align">
                                <b>@Model.CodEmpresa</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 right-align">
                                <label class="label">Abreviatura</label>
                            </div>
                            <div class="col s8 left-align">
                                @Model.Abreviatura
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 right-align">
                                <label class="label">Dirección</label>
                            </div>
                            <div class="col s8 left-align">
                                @Model.Direccion
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 right-align">
                                <label class="label">Descripción</label>
                            </div>
                            <div class="col s8 left-align">
                                @Model.Descripcion
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 right-align">
                                <label class="label">Fecha Registro:</label>
                            </div>
                            <div class="col s8 left-align">
                                @Model.FechaCreacion.Value.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 right-align">
                                <label class="label">Registrado por:</label>
                            </div>
                            <div class="col s8 left-align">
                                @Model.UsuarioCreacion
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 right-align">
                                <label class="label">Fecha Actualización:</label>
                            </div>
                            <div class="col s8 left-align">
                                @((Model.FechaActualizacion == null) ? "" : Model.FechaActualizacion.Value.ToString("dd/MM/yyyy hh:mm:ss"))

                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 right-align">
                                <label class="label">Actualizado por:</label>
                            </div>
                            <div class="col s8 left-align">
                                @Model.UsuarioActualizacion
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4 right-align">
                                <label class="label">Estado:</label>
                            </div>
                            <div class="col s8 left-align">
                                @Model.EstadoDescripcion
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div id="Representantes" class="col s12 tab-content">
        <div id="secRepresentantes">aaaaaaaaaaaaaa</div>
    </div>
</div>