﻿@using Agrobanco.SIGD.Entidades.EntidadesDb2
@{
    EUsuario userSession = Agrobanco.SIGD.Presentacion.Filters.HelperSeguridad.ObtenerSessionUsuario();
    int anioActual = DateTime.Now.Year;
    int codArea = 1;
    if (userSession != null)
    {
        codArea = userSession.MaeTrabajador.iCodArea;
    }
}
<div id="ptv-Documento_RA" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Registrar Avance</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">

        <div>
            @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmRegistrarAvance" }))
            {
                <div class="row no-mar-bottom">
                    <div class="col s12 m12 l9">
                        <h5 class="modal-titulo title" id="mCorrelativo_RA"></h5>
                        <b><label class="label css-titulo" id="mTipoAccion"></label></b><b id="mTipoAccionb"></b>
                        <input type="hidden" id="hdCodDocumento_RA" name="CodDocumento" />
                        <input type="hidden" id="hdCodDocDerivacion_RA" name="CodDocDerivacion" />

                    </div>
                    <div class="col s12 m12 l3">
                        <div class="row">
                            <div class="no-pad col s6 m6 l12" id="mPrioridad_RA">
                                <span class="new badge icon-badge badge-pink badge-left" data-badge-caption="">
                                    <i class="material-icons">priority_high</i>
                                </span>
                                <span class="c-pink"><label class="label">Prioridad!</label></span>

                            </div>
                            <div class="no-pad col s6 m6 l12" id="mEstadoDocumento_RA">
                                <span class="new badge badge-green" data-badge-caption="ESTADO!"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field input-field-common col s12 m12">
                        <label class="label active" for="comentario_RA">Comentario</label>
                        <textarea id="comentario_RA" name="comentario_RA" type="text" maxlength="200" minlength="15" required class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field-content input-field input-field-common col s12 m12">
                        <i class="material-icons icon-suffix">attach_file</i>
                        <label class="label active" for="adjuntarArchivoAnexo_RA">Adjuntar Archivos</label>
                        <i class="material-icons file-field-icon on clearicon">close</i>
                        <div class="file-field input-field">
                            <input type="file" id="adjuntarAnexo_RA" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                       .pdf,.csv,text/plain,.doc,.docx,.msg" name="adjuntarArchivoAnexo_RA">
                            <div class="file-path-wrapper">
                                <input class="file-path validate adjuntarAnexoAuxEdit" type="text" id="adjuntarAnexoAuxEdit">
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div class="row">
                <div class="col s12 btn-container">
                    <button class="btn waves-effect waves-light btn-default" id="btnRegistrarAvance" type="submit">
                        <span>Registrar Avance</span>
                        <i class="material-icons prefix">check</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelar_RA">
                        <span>Cancelar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>