﻿

<div id="modal-verAnexos" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Lista de Documentos</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">

        <div class="table" id="mSeccionListaAnexos"></div>

    </div>
</div>
