﻿<div id="ptv-alert-confirmacionDocumentoPrincipal" class="modal modal-s">
    <div class="modal-header">
        <i class="material-icons btn-close modal-action modal-close" id="btnCloseConfirm">close</i>
    </div>
    <div class="modal-content center-align modal-alert-content">
        <i class="material-icons medium icon-demo yellow-text">question_answer</i>
        <p class="center-align p-desc-confirmacion"></p>
    </div>
    <div class="modal-footer modal-alert-footer">
        <button class="btn waves-effect waves-light btn-default " onclick="EstablecerPrincipal()">
            <span>Si</span>
        </button>
        <button class="modal-close btn waves-effect waves-light btn-default" onclick="btnCancelConDocPrincipal()">
            <span>No</span>
        </button>
    </div>
    <input type="hidden" id="CodigoDocumentoPrincipal" value="" />
</div>
