﻿@using Agrobanco.SIGD.Presentacion.Models;

@model DocumentoSeguimientoItemViewModel
@{
    ViewBag.Title = "_SeguimientoItem";
    Layout = null;
    var listaItems = Model.Lista.FindAll(x => x.CodMovAnterior == Model.iCodMovimientoActual);
}


@foreach (var item in listaItems)
{
    var hijosLista = Model.Lista.FindAll(x => x.CodMovAnterior == item.CodDocMovimiento);
    int nroHijos = hijosLista.Count;
    string csstipoElemento = "";
    if (nroHijos == 0)
    {
        csstipoElemento = "collapsible-body collapsible-body-line";
    }
    else
    {
        csstipoElemento = "collapsible-header collapsible-header-line";
    }
    if (nroHijos > 0)
    {
        @:<ul class="collapsible collapsible-accordion collapsible-body collapsible-no-border"><li>
                }
        <div class="@csstipoElemento no-padding">

            <div class="row row-strech no-border">
                <div class="form-group col s12 m12 no-border">
                    <b>
                        <p class="label">
                            @if (item.CodDocDerivacion.HasValue)
                            {
                                @:Derivó a:
                            }
                            else
                            {
                                @:Derivó a:
                            }
                        </p>
                    </b>
                    <div class="col s12 m12  no-border">
                        <div class="col s12 m1">
                            <div class="tree-point">
                            </div>
                            <div class="tree-line">
                            </div>
                        </div>
                        <div class="col s12 m4 no-border">
                            <p class="label">Colaborador(a):</p>
                            <p>@(item.CodDocMovimiento) - @item.Colaborador</p>
                        </div>
                        <div class="col s12 m3 no-border">
                            <p class="label">Area</p>
                            <p>@item.Area</p>
                        </div>
                        <div class="col s12 m2 no-border">
                            <p class="label">Fecha de recepción</p>
                            <p>@item.FechaRecepcion</p>
                        </div>
                        <div class="col s12 m2 no-border">
                            @switch (item.EstadoDocumento)
                            {
                                case 1:
                                    <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                    break;
                                case 2:
                                    <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                                    break;
                                case 3:
                                    <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                    break;
                                case 4:
                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                                    break;
                                case 5:
                                    <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                                    break;
                                case 6:
                                    <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                                    break;
                                case 7:
                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                                    break;
                                default:
                                    break;
                            }
                            @if (csstipoElemento.Contains("header"))
                            {
                                <i class="material-icons p-t-7">keyboard_arrow_down</i>
                            }
                        </div>
                    </div>
                    <div class="row col s12 m12  no-border">
                        <div class="col s12 m12 no-border">
                            <p class="label">Comentario:</p>
                            <p>@item.Comentario</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        if (nroHijos > 0)
        {
            Model.iCodMovimientoActual = item.CodDocMovimiento;
            var listaSubHijos = Model.Lista.FindAll(x => x.CodMovAnterior == item.CodDocMovimiento);
            if (listaSubHijos.Count == 0)
            {
            <div class="collapsible-body collapsible-body-line no-padding">
                @Html.Partial("_SeguimientoItem", Model)
            </div>
            }
            else
            {
            @Html.Partial("_SeguimientoItem", Model)
            }
            @:</li></ul>
        }
}
@if (listaItems.Count == 0)
{
    <p>No se encontraron relaciones</p>
}


