﻿@using Agrobanco.SIGD.Comun;
@model Agrobanco.SIGD.Entidades.Entidades.Documento
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Bandeja de Recepción SIED FONAFE</title>
    <style>
        table, td, th {
            /*border: 1px solid #065a45;*/
            /*text-align: center;*/
        }

        table {
            /*border-collapse: collapse;*/
            width: 100%;
        }

        th {
            color: #00694f;
            font-size: 14px;
        }

        tr, td {
            padding: 16px;
        }

        td {
            font-size: 18px;
        }

      
    </style>
</head>
<body>
    <div>
        <table style="width: 100%;" >
            <tbody>

                <tr>
                    <td colspan="3" style="text-align: center;"><img style="width: 300px; height: 65px; display: block; margin-left: auto; margin-right: auto;" src="{logo}" /></td>
                </tr>
                <tr>
                    <td style="text-align: center;font-size: 14px;" colspan="3"><h1 style="font-size: 22px;">CARGO DE RECEPCI&Oacute;N</h1></td>
                </tr>
                @*<tr>
            <td style="text-align: center;font-size: 14px;" colspan="3"><h1 style="font-size: 22px;"></h1></td>
        </tr>*@
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td style="width: 270px; text-align: right;">&nbsp;<strong>N&deg; TRÁMITE :</strong></td>
                    <td colspan="2">&nbsp;@Html.DisplayFor(item => item.Correlativo)</td>
                    @*<td >&nbsp;</td>*@
                </tr>
                <tr>
                    <td style="text-align: right;"><strong>&nbsp;FECHA RECEPCI&Oacute;N :</strong></td>
                    <td>&nbsp;@Html.DisplayFor(item => item.FechaDocumentoRecepcionHojaResumen)</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td style="text-align: right;">&nbsp;<strong>Número Documento :</strong></td>
                    <td>&nbsp;@Html.DisplayFor(item => item.NumDocumento)</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: right;">&nbsp;<strong>Asunto :</strong>&nbsp;</td>
                    <td>&nbsp;&nbsp;@Html.DisplayFor(item => item.Asunto)</td>
                    <td>&nbsp;&nbsp;</td>
                </tr>

                <tr>
                    <td style="text-align: right;">&nbsp;<strong>Dirigido A :</strong></td>
                    <td>&nbsp;@Html.DisplayFor(item => item.DirigidoASIED)</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: right;">&nbsp;<strong>Tipo Entidad:</strong></td>
                    <td>&nbsp;@Html.DisplayFor(item => item.TipoEntidadSIED) </td>
                    @*<td>&nbsp;</td>*@
                </tr>
                <tr>
                    <td style="text-align: right;">&nbsp;<strong>Entidad:</strong></td>
                    <td>&nbsp;@Html.DisplayFor(item => item.EntidadSIED) </td>
                    @*<td>&nbsp;</td>*@
                </tr>
                <tr>
                    <td style="text-align: right;">&nbsp;<strong>Indicación :</strong></td>
                    <td>&nbsp;@Html.DisplayFor(item => item.IndicacionSIED)</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: right;">&nbsp;<strong>Otras Indicaciones :</strong></td>
                    <td>&nbsp;@Html.DisplayFor(item => item.Observaciones)</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>