﻿<p class="text-center cursivaspop nomargin">
    Lo sentimos, no tienes acceso para poder continuar.
</p>

<script>
    $('#btnAceptar').click(function () {
        $('#btnCerrar').click();
    });

    $('.modal-dialog').removeClass('modal-lg');
    $('.modal-content').removeClass('no-border');
    $('#modal_title').html('SIGD');
</script>