﻿$principal-c: #00694f;
$navbar-height: 64px;
$navbbar-logo-height: $navbar-height - 8px;
$sidebar-bc: $principal-c;
$sideba-width: 81px;
$sidebar-menu-bc: #ffd204;
$sidebar-menu-c: #065a45;
$sidebar-menu-border-c: #065a45;
$sidebar-submenu-bc: #ffe87d;
$sidebar-submenu-c: #bda005;
$button-common-bc: rgba(0, 105, 79, 0.83);
$button-common-c: #ffd204;
$color-error: red;