﻿
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using System.Configuration;
@using Agrobanco.SIGD.Presentacion.Models;

@model RepresentanteLegal
@{
    ViewBag.Title = "RepresentanteLegal";
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}


@section css{
    <style>
    </style>
}

<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">INICIO</a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                </div>
            </div>
        </nav>

        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Representante Legal</h1>
            </div>
        </div>

    </div>
</div>

<div class="section p-t-20 no-pad-top">
    <div class="col s9 m9 l12">
        <div class="container">
            <div class="row">
                <div class="col s12 m10">
                    <div class="card">
                        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmRepresentanteLegal" }))

                        {
                            <div class="card-content">
                                @Html.AntiForgeryToken()
                                <div>
                                    <div class="row">

                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="nombre">DNI</label>
                                            <input id="dni" name="dni" type="text" required value="@Model.NroDoc" maxlength="10" />
                                        </div>
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="nombre">Nombre</label>
                                            <input id="nombre" name="nombre" type="text" required value="@Model.Nombre" maxlength="50" />
                                        </div>
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="apaterno">Apellido Paterno</label>
                                            <input id="apaterno" name="apaterno" type="text" required value="@Model.ApePaterno" maxlength="20" />
                                        </div>
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="amaterno">Apellido Materno</label>
                                            <input id="amaterno" name="amaterno" type="text" required value="@Model.ApeMaterno" maxlength="20" />
                                        </div>
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="email">Email</label>
                                            <input id="email" name="email" type="email" value="@Model.Email" maxlength="50" />
                                        </div>
                                        <div class="input-field input-field-common col col s12 m8">
                                            <select name="Estado" id="cbEstado" class="select-require" required value="@Model.Estado">
                                                <option value="">Seleccione</option>
                                                @foreach (var item in ViewBag.Estados)
                                                {
                                                    if (item.Valor == Convert.ToString(Model.Estado))
                                                    {

                                                        <option value="@item.Valor" selected="selected">@item.Campo</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Valor">@item.Campo</option>
                                                    }
                                                }
                                            </select>
                                            <label class="label" for="Estado">Estado</label>
                                        </div>
                                    </div>
                                    @if (@Model.Estado == null)
                                    {
                                        <input type="hidden" class="frmRepLegalAccion" value="grabar" />
                                    }
                                    else
                                    {
                                        <input type="hidden" class="frmRepLegalAccion" value="editar" />
                                    }
                                </div>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s12 btn-container">
                                        <button class="btn waves-effect waves-light btn-default" id="btnGuardar" type="submit">
                                            <span>Guardar</span>
                                            <i class="material-icons prefix">check</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
    @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}

@Scripts.Render("~/Scripts/app/Servicios.js")
@Scripts.Render("~/Scripts/app/Mantenimientos/ManRepresentanteLegal.js")
@Scripts.Render("~/Scripts/app/RedirectSSA.js")
