﻿
@{
    ViewBag.Title = "UsuarioSIEDSinPermiso";
}

<div class="section no-padding">
    <div class="row col s12 no-mar-bot">

        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <p>El usuario tiene perfil SIED en SGS pero no esta configurado en el mantenimiento de Usuario SIED, comuníquese con el administrador.</p>
                    <p>Será redireccionado a la pantalla de Inicio, en <span id="segundos">10</span> segundos.</p>
                </div>
            </div>
        </nav>
    </div>

</div>

<script type="text/javascript">

    var n = 10;
    var redirecciono = 0;
    var l = document.getElementById("segundos");

    window.setInterval(function () {
        if (n > 0) {
            n = n - 1;
            l.innerHTML = n;
        } else {

            if (redirecciono == 0) {
                //var urlApp = $("#urlApp").val()
                //var urlWebSSA = $("#urlWebSSA").val()
                location.href = $("#hdUrlBase").val();
            }
            redirecciono = 1;
        }
    }, 1000);

</script>