﻿
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using System.Configuration;
@using Agrobanco.SIGD.Presentacion.Models;

@model UsuarioSIED
@{
    ViewBag.Title = "UsuarioSIED";
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}


@section css{
    <style>
    </style>
}

<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">INICIO</a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                </div>
            </div>
        </nav>

        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Usuario SIED</h1>
            </div>
        </div>

    </div>
</div>


<div class="section p-t-20 no-pad-top">
    <div class="col s9 m9 l12">
        <div class="container">
            <div class="row">
                <div class="col s12 m10">
                    <div class="card">
                        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmUsuarioSIED" }))

                        {

                            <div class="card-content">
                                @Html.AntiForgeryToken()
                                <div>
                                    <div class="row">
                                        <div class="input-field input-field-common col col s12 m8 ">
                                            <select name="cbUsuario" id="cbUsuario" class="select-require" required value="@Model.WebUsr">
                                                <option value="">Seleccione</option>
                                                @foreach (var item in ViewBag.Usuarios)
                                                {
                                                    if (item.WEBUSR == Convert.ToString(Model.WebUsr))
                                                    {
                                                        <option value="@item.WEBUSR" data-nombre="@Model.Nombre" data-apepaterno="@Model.ApePaterno" data-apematerno="@Model.ApeMaterno" data-email="@Model.Email" data-numdoc="@Model.NroDoc" data-codtrabajador="@item.iCodTrabajador" selected="selected">@Model.WebUsr</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.WEBUSR" data-nombre="@item.vNombres" data-apepaterno="@item.vApePaterno" data-apematerno="@item.vApeMaterno" data-email="@item.vEmail" data-numdoc="@item.vNumDocumento" data-codtrabajador="@item.iCodTrabajador">@item.WEBUSR</option>
                                                    }
                                                }
                                            </select>
                                            <label class="label" for="TipRepresentante">Usuario :</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="nombre">Nombre</label>
                                            <input id="nombre" name="nombre" type="text" disabled value="@Model.Nombre" />
                                        </div>
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="apaterno">Apellido Paterno</label>
                                            <input id="apaterno" name="apaterno" type="text" disabled value="@Model.ApePaterno" />
                                        </div>
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="amaterno">Apellido Materno</label>
                                            <input id="amaterno" name="amaterno" type="text" disabled value="@Model.ApeMaterno" />
                                        </div>
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="email">Email</label>
                                            <input id="email" name="email" type="email" disabled value="@Model.Email" />
                                        </div>
                                        <div class="input-field input-field-common col s12">
                                            <label class="label active lblactive" for="nrodoc">Nro de Documento</label>
                                            <input id="nrodoc" name="nrodoc" type="text" disabled value="@Model.NroDoc" />
                                        </div>
                                        <div class="input-field input-field-common col s12" style="display:none">
                                            <label class="label active lblactive" for="nrodoc">Cod Trabajador</label>
                                            <input id="codtrabajador" name="codtrabajador" type="text" disabled value="@Model.CodTrabajador" />
                                        </div>
                                    </div>
                                    @if (@Model.WebUsr == null)
                                    {
                                        <input type="hidden" class="frmUsuarioSIEDAccion" value="grabar" />
                                    }
                                    else
                                    {
                                        <input type="hidden" class="frmUsuarioSIEDAccion" value="editar" />
                                    }
                                </div>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s12 btn-container">
                                        <button class="btn waves-effect waves-light btn-default" id="btnGuardar" type="submit">
                                            <span>Guardar</span>
                                            <i class="material-icons prefix">check</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
    @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}

@Scripts.Render("~/Scripts/app/Servicios.js")
@Scripts.Render("~/Scripts/app/Mantenimientos/ManUsuarioSIED.js")
@Scripts.Render("~/Scripts/app/RedirectSSA.js")
