﻿
@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Presentacion.Utilities;
@model ResultadoBusquedaModel<TipoDocumento>

<div class="col s6 m3 l2">
    <a class="a-link" href="@(Url.Action("ExportarPDF"))?searchString=@(ViewBag.searchString)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>
<div class="col s6 m3 l2">
    <a class="a-link" href="@(Url.Action("ExportarExcel"))?searchString=@(ViewBag.searchString)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>
<div class="col s6 m6 l8 right-align text-right">
    <ul class="pagination no-margin">

        @Html.PagedListPager(Model.ListaPaginado,
                                page => Url.Action("Index",
                                                    new { page = page, searchString = ViewBag.FiltrosActuales }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>

<div class="col s12 table-listas">

    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">
            <div class="col s11 m1 center">Código</div>
            <div class="col s12 m2">Abreviatura</div>
            <div class="col s12 m2">Descripcion</div>
            <div class="col s12 m1">Estado</div>
            <div class="col s12 m1">Fecha Registro</div>
            <div class="col s12 m1">Registrado Por</div>
            <div class="col s12 m1">Fecha  Actualización</div>
            <div class="col s12 m1">Actualizado Por</div>
            <div class="col s12 m2">
                <div class="row row-icons">
                    <div class="col s4">Ver</div>
                    <div class="col s4">Editar</div>
                    <div class="col s4">Eliminar</div>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Lista)
        {
        <div class="row">
            <div class="col s1 m1 no-padding center">
                @item.CodTipoDocumento
            </div>
            <div class="col s3 m2 abreviatura">@item.Abreviatura</div>
            <div class="col s3 m2 descripcion text-wrap">@item.Descripcion</div>
            <div class="col s1 m1">
                @switch (item.Estado)
                {
                    case 1:
                        <span class="new badge options badge-green badge-label " data-badge-caption="ACTIVO"></span>
                        break;
                    case 0:
                        <span class="new badge badge-grey badge-label options" data-badge-caption="INACTIVO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                        break;
                }
            </div>
            <div class="col s2 m1  hide-on-small-only">
                <label>@item.FechaCreacion.ToString("dd/MM/yyyy hh:mm:ss")</label>
            </div>
            <div class="col s2 m1  hide-on-small-only">
                <label>@item.UsuarioCreacion</label>
            </div>
            <div class="col s2 m1  hide-on-small-only">
                <label>@((item.FechaActualizacion == null)?"":item.FechaActualizacion.Value.ToString("dd/MM/yyyy hh:mm:ss"))</label>
            </div>
            <div class="col s2 m1  hide-on-small-only">
                <label>@(item.UsuarioActualizacion==null?"": item.UsuarioActualizacion)</label>
            </div>

            <div class="col s2 m2">
                <div class="row row-icons">
                    <div class="col s4 m4"><i id="idVerTipoDocumento" data-target="ptv-VerTipoDocumento" data-id="@item.CodTipoDocumento" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">visibility</i></div>
                    <div class="col s3 m4"><i id="idEditarTipoDocumento" data-target="ptv-EditarTIpoDocumento" data-id="@item.CodTipoDocumento" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">create</i></div>
                   @if (item.Estado == 1)
                   {
                    <div class="col s3 m4"><i id="idEliminarTipoDocumento" data-id="@item.CodTipoDocumento" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">delete_forever</i></div>
                   }
                </div>
            </div>
        </div>
        }
    </div>
</div>

