﻿@model Agrobanco.SIGD.Presentacion.Models.Usuario

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SIGD - Login @ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/lib/materialize/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/main.css">
    <script type="text/javascript" charset="UTF-8" src="~/Content/lib/materialize/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/lib/material-icon/material-icons.css">
    <script type="text/javascript">

    </script>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <div class="row m-b-0">
            <div class="col s12 m5 login">
                <div class="container-login center-align">
                    <img src="~/Content/img/logo-principal.png" alt="login" class="responsive-img logo">
                    <h3> INICIAR SESIÓN </h3>
                    <p class="center-align">Sistema Integrado de Gestión Documental</p>
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "frmLogin" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col s10 offset-s1 m12">
                                <div class="input-field col s12">
                                    <label class="label active" for="username">Username </label>
                                    <input name="username" id="username" type="text" class="input-login validate" required="" autocomplete="off" aria-required="true">
                                </div>
                                <div class="input-field col s12">
                                    <label class="label" for="password">Password </label>
                                    <input name="password" id="password" type="password" class="input-login validate" autocomplete="off" required="" aria-required="true">
                                    <i class="i-eyes material-icons icon-eye"> </i>
                                </div>
                                <div class="center-align">
                                    <br />
                                    <button class="btn waves-effect waves-light btn-login btn-common" type="submit" name="action">
                                        <span>Ingresar</span>
                                        <i class="material-icons prefix">trending_flat</i>
                                    </button>
                                </div>
                                @if (ViewBag.Error != null)
                                {
                                    <div class="input-field col s12 center-align">
                                        <span class="label lbl-error">@ViewBag.Error</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col m7 hide-on-small-only">
                <div class="login-bkg"></div>
                @*<img src="~/Content/img/imagen-login.jpg" alt="login" class="responsive-img login-bkg">*@
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/app/HelpersJS.js")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
