﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using System.Configuration;
@using Agrobanco.SIGD.Presentacion.Models;

@model SecuenciaViewModel


@{
    ViewBag.Title = "Secuencial";
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}



@section css{
    <style>
    </style>
}

<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">INICIO</a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                </div>
            </div>
        </nav>

        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">SECUENCIALES</h1>
            </div>
        </div>

    </div>
</div>

<div class="section p-t-20 no-pad-top">
    <!--<div class="col s9 m9 l12">-->
    <div class="row">
        @using (Ajax.BeginForm("Index", "Secuenciales",
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", InsertionMode = InsertionMode.Replace, UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
        {

            <div class="col s12 m8 l8">
                <div class="input-field input-field-search ">
                    <input id="searchString" name="searchString" type="search" class="validate" autocomplete="off" placeholder="Escribe una consulta o utiliza una palabra clave">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons clearicon">clear</i>
                </div>
            </div>
            <div class="col s2 m2 l2 text-right">
                <button class="btn waves-effect waves-light btn-default-resize">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        }

        <label for="icon_prefix"></label>

        <div class="col s2 m2 l2 text-right">
            <button data-target="ptv-NuevoSecuencial" id="btnNuevo" data-keyboard="false" data-backdrop="static" class="btn modal-trigger waves-effect waves-light btn-default-resize" type="submit" name="action">
                <span>Nuevo</span>
                <i class="material-icons">add</i>
            </button>
        </div>

    </div>
</div>

<div class="row" id="documentos-grid">
    @{
        Html.RenderPartial("_Lista", Model.ResultadoBusqueda);
    }
</div>

<div>
    @Html.Partial("Nuevo")
</div>
<div>
    @Html.Partial("Editar")
</div>
<div id="ptv-VerTipoDocumento" class="modal" data-keyboard="false" data-backdrop="static">
</div>
<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
    @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}

@Scripts.Render("~/Scripts/app/Servicios.js")
@Scripts.Render("~/Scripts/app/Mantenimientos/Secuencial.js")
@Scripts.Render("~/Scripts/app/RedirectSSA.js")