﻿@using Agrobanco.SIGD.Entidades.EntidadesDb2

<div id="modal-confirm-anular-derivacion" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title"><center>¿Está seguro de anular la derivación?</center></h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">
        <div class="section-border-bottom">
            @using (Html.BeginForm("#", "/", FormMethod.Post, new { id = "frmAnularDocumentoDerivacion" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="input-field input-field-common col s12 m12">
                        <label class="label active" for="Comentario">Comentario</label>
                        <textarea id="txtComentarioAnulaDerivacion" required name="Comentario" type="text" maxlength="200" minlength="15" class="materialize-textarea"></textarea>
                    </div>
                </div>

                <input type="hidden" id="hdCodDocumentoAnular" name="CodDocumento" />
                <input type="hidden" id="hdCodDocumentoDerivacionAnular" name="CodDocumentoDerivacion" />

            }
            <div class="row">
                <div class="col s12 btn-container">
                    <button id="btnConfirmarAnularDerivacion" class="btn waves-effect waves-light btn-default">
                        <span>Confirmar</span>
                        <i class="material-icons prefix">check</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelar">
                        <span>Cancelar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
