﻿@using Agrobanco.SIGD.Entidades.EntidadesDb2
@{
    EUsuario userSession = Agrobanco.SIGD.Presentacion.Filters.HelperSeguridad.ObtenerSessionUsuario();
    int anioActual = DateTime.Now.Year;
    int codArea = 1;
    if (userSession != null)
    {
        codArea = userSession.MaeTrabajador.iCodArea;
    }


}
<div id="modal-nuevo" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Nuevo Documento</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">

        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmNuevoDocumento" }))
        {
            @Html.AntiForgeryToken()

            <div class="section-border-bottom">
                <div class="row">
                    <div class="input-field input-field-common col s12 m5 disabled">
                        <label class="label active" for="correlativo">Nro Trámite</label>
                        <input name="correlativo" id="correlativo" type="text" class="input-common" value="0">
                    </div>
                    
                    <div class="input-field input-field-common col s12 m7 disabled">
                        <label class="label active" for="areaOrigen">Área de Origen </label>
                        @*<input name="areaOrigen" id="areaOrigen" type="text" class="input-common" disabled value="Equipo de Tecnologias de la Información">*@
                        <select name="areaOrigen">
                            @foreach (var item in ViewBag.ListaArea)
                            {
                                string strSelected = string.Empty;
                                if (item.CodArea == codArea)
                                {
                                    strSelected = "selected";
                                }

                                <option value="@item.CodArea" @strSelected>@item.Descripcion</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field input-field-common  col s12 m12 ">
                            <label class="label active" style="color: green"><b>Dirigido a:</b></label>
                        </div>
                        <div class="input-field input-field-common col s12 m12">
                            <label class="label active" for="codArea">To</label>
                            <div class="chips-autocomplete chips-areas" id="chipTO"></div>
                            <input type="hidden" id="hdCodArea" name="CodAreaBE" />
                            <input type="hidden" id="hdFormatoDocumentoEmpresas" name="CodFormatoDocumentoEmpresas" />
                            <input type="hidden" id="hdtipoEmpresa" name="hdtipoEmpresa" />
                        </div>
                    </div>
                    <div class="input-field input-field-common col col s12 m4 disabled">
                        <select name="origen" id="origen" class="input-common">
                            <option value="">Seleccione</option>
                            @foreach (var item in ViewBag.ListaOrigen)
                            {
                                <option value="@item.CodParametro">@item.Campo</option>
                            }
                            @*<option value="1">Interno</option>
                <option value="2">Externo</option>*@
                        </select>
                        <label class="label">Tipo de Registro</label>
                    </div>
                    <div class="input-field input-field-common col col s12 m4 ">
                        <select name="CodTipoDocumentoSIED" id="codTipoDocumento" class="select-require" required>
                            <option value="">Seleccione</option>
                            <optgroup label="PARA EMPRESAS EXTERNAS (PIDE)">
                                @foreach (var item in ViewBag.ListaTipoDocumentoExterno)
                                {
                                    <option value="@item.Valor" disabled class="cbooptext">@item.Campo</option>
                                }
                            </optgroup>
                            <optgroup label="PARA EMPRESAS INTERNAS">
                                @foreach (var item in ViewBag.ListaTipoDocumentoInterno)
                                {
                                    <option value="@item.Valor" disabled class="cbooptint">@item.Campo</option>
                                }
                            </optgroup>
                        </select>
                        <label class="label" for="tipoDocumento">Tipo de Documento</label>
                    </div>
                    @*<div class="input-field input-field-common col col s12 m4">
            <i class="material-icons icon-suffix">search</i>
            <label class="label active" for="NumDocumento">Número de documento </label>
            <input name="NumDocumento" id="NumDocumento" required autocomplete="off" aria-required="true" type="text" class="">
        </div>*@
                    <div class="input-field input-field-common col s12 m4 disabled">
                        <label class="label active" for="anio">Año</label>
                        <input name="anio" id="anio" type="text" class="input-common" value="@anioActual">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col s12 m6 l6 xl3">
                        <i class="material-icons icon-suffix">date_range</i>
                        <input name="fechaDocumento" id="fechaDocumento" type="text" class="datepicker" required>
                        <label for="fechaDocumento" class="label lbl-fecha-default active">Fecha Documento</label>
                    </div>
                    <div class="input-field input-field-common col s12 m6 l6 xl3">
                        <i class="material-icons icon-suffix">date_range</i>
                        <input name="FechaRecepcionSIED" id="FechaRecepcionSIED" type="text" class="datepicker">
                        <label for="FechaRecepcionSIED" class="label lbl-fecha-default frecepcion">Fecha Recepción</label>
                    </div>
                    <div class="input-field input-field-common col s12 m6 l6 xl3">
                        <label class="label active" for="plazo">Plazo</label>
                        <input name="plazo" id="plazo" type="number" class="input-plazo" min="0" value="0" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                               onkeypress="javascript: if (this.value > 365) this.value = 365;" onblur="this.onkeypress()"
                               max="365"   maxlength = "3" required>
                    </div>
                    <div class="input-field input-field-common col s12 m6 l6 xl3 disabled">
                        <i class="material-icons icon-suffix icon-disabled">date_range</i>
                        <input name="fechaPlazo" id="fechaPlazo" type="text" class="input-fecha-plazo " value="dd/mm/yyyy">
                        <label for="fechaPlazo" class="label">F. Plazo</label>
                    </div>
                </div>
                <div class="row">

                    <div class="input-field input-field-common col s12 m3">
                        <select class="select-require" name="prioridad" id="prioridad" required>
                            <option value="">Seleccione</option>
                            @foreach (var item in ViewBag.ListaPrioridad)
                            {
                                <option value="@item.CodParametro">@item.Campo</option>
                            }
                            @*<option value="1">Media</option>
                                <option value="2">Alta</option>
                                <option value="3">Baja</option>*@
                        </select>
                        <label for="prioridad" class="label">Prioridad</label>
                    </div>
                    <div class="file-field-content input-field input-field-common col s12 m6">
                        <i class="material-icons icon-suffix">attach_file</i>
                        <label class="label active" for="adjuntarArchivo">Adjuntar Documento</label>
                        <i class="material-icons file-field-icon on" id="btnLimpiarAdjunto">close</i>
                        <div class="file-field input-field">
                            <input type="file" id="adjuntarArchivo" accept="application/pdf" name="adjuntarArchivo">
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" id="adjuntarArchivoAux">
                            </div>
                        </div>
                    </div>
                    <div class="input-field input-field-common col s12 m3 h-40">
                        <label class="label"><b>Estado: <span class="new badge badge-grey" id="estadoDocumento" data-badge-caption="INGRESADO"></span></b></label>
                    </div>
                    <div class="row">
                        <div class="file-field-content input-field input-field-common col s12 m12">
                            <i class="material-icons icon-suffix">attach_file</i>
                            <label class="label active" for="adjuntarArchivoAnexo">Adjuntar Anexos</label>
                            <i class="material-icons file-field-icon on" id="btnLimpiarAnexo">close</i>
                            <div class="file-field input-field">
                                <input type="file" id="adjuntarAnexo" accept="application/pdf" name="adjuntarArchivoAnexo" multiple>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate adjuntarAnexoAux" type="text" id="adjuntarAnexoAux">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="input-field input-field-common col s10">
                        @*<i class="material-icons icon-suffix">search</i>*@
                        <label class="label active" for="asunto">Asunto</label>
                        <input name="asunto" id="asunto" autocomplete="off" type="text" class="autocomplete" required>
                        <input type="hidden" id="hdCodAsunto" />
                        <input type="hidden" id="hdCodAsuntoSIED" name="CodAsuntoSIED" />
                    </div>
                    <div class="input-field input-field-common col s2">
                        <a id="asuntos" class="btn tooltipped col s8" data-position="right" data-delay="50" data-tooltip="tooltip"> Asuntos</a>
                    </div>
                    <div class="input-field input-field-common col s12">
                        <label class="label active" for="referencia">Referencia</label>
                        <textarea id="referencia" name="referencia" type="text" maxlength="1000" class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col s12 m12">
                        <label class="label active" for="observaciones">Observaciones</label>
                        <textarea id="observaciones" name="observaciones" type="text" maxlength="1000" class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 btn-container">
                        <button class="btn waves-effect waves-light btn-default" id="btnGuardar" type="submit">
                            <span>Guardar</span>
                            <i class="material-icons prefix">check</i>
                        </button>
                        <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelar">
                            <span>Cancelar</span>
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@*@section Scripts{

        <script>
            function txtPlazoChange(plazo) {
                alert(plazo * 2);
            }
        </script>

    }*@