﻿@model IEnumerable<Agrobanco.SIGD.Presentacion.Models.ReportesAtencionDocumentos>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Reporte Atención de Documentos</title>

    <style>

        table, td, th {
            border: 1px solid #065a45;
            text-align: center;
            font-size: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            color: #00694f;
            font-size: 12px;
        }

        th, td {
            padding: 5px;
            /*width:25%;*/
        }

        td {
            font-size: 10px;
        }

        b, p {
            margin: 1px;
        }

        p {
            font-weight: 1;
            font-size: 10px;
        }

        .title {
            font-style: italic
        }
        h3 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div><img src="{logo}" style=" width: 150px;height: auto;" /></div>
    <div><h3>Reporte Atención de Documentos</h3></div>

    <div>

        <table style="border: 0px;">
            <thead style="border: 0px;">
                <tr style="border: 0px;">
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"> </th>
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"></th>
                </tr>
            </thead>
            <tbody>

                <table>
                    <thead>
                        <tr>
                            <th style="width:25%;">Nro. Trámite</th>
                            <th style="width:25%;">Remitente</th>
                            <th style="width:29%;">Destinatario</th>
                            <th style="width:29%;">Asunto</th>
                            <th style="width:25%;">Comentario</th>
                            <th style="width:25%;">Firmado</th>
                            <th style="width:18%;">Fecha Firma</th>
                            <th style="width:18%;">Estado</th>

                        </tr>
                    </thead>



                    @foreach (var lista in Model)
                    {

                    <tr>
                        <td style="width:25%;">@lista.vCorrelativo</td>
                        <td style="width:25%;">@lista.Remitente</td>
                        <td style="width:29%;">@lista.Destinatario</td>
                        <td style="width:29%;">@lista.Asunto</td>
                        <td style="width:25%;">@lista.Comentarios</td>
                        <td style="width:25%;">@(String.IsNullOrWhiteSpace(lista.siFirma) == true ? "No" : "Sí")</td>
                        <td style="width:18%;">@lista.fechaFirma</td>
                        <td style="width:18%;">@lista.DescripcionEstado</td>
                    </tr>
                    }


                </table>




            </tbody>
        </table>
    </div>

</body>
</html>

