﻿@using Agrobanco.SIGD.Presentacion.Models
@{
    Layout = null;
}

<div id="ptv-EditarTIpoDocumento" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Editar Trabajador</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">


        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmEditarTrabajador" }))

        {
            @Html.AntiForgeryToken()
            <div class="section-border-bottom">
                <div class="row">
                    <div class="input-field input-field-common col s12 m3 disabled">
                        <label class="label active" for="correlativo">Código : </label>
                        <input name="CodTrabEdit" id="CodTrabEdit" type="text" class="input-common">
                    </div>
                </div>
            </div>
            <div>

                <div class="row">
                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="nombre">Nombre</label>
                        <input id="nnombrEdit" name="nnombrEdit" type="text" required maxlength="50" />
                    </div>
                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="paterno">Apellido Paterno</label>
                        <input id="npaternoEdit" name="npaternoEdit" type="text" required maxlength="20" />
                    </div>

                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="materno">Apellido Matrno</label>
                        <input id="nmaternoEdit" name="nmaternoEdit" type="text" required maxlength="20" />
                    </div>
                                       

                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="webusredit">WEBUSR</label>
                        <input id="webusredit" name="webusredit" type="text" required maxlength="20" />
                    </div>


                    <div class="input-field input-field-common col col s12 m4 ">
                        <label class="label active" for="Estado">Tipo Documento</label>
                        <select name="cbotipdocumentoEdit" id="cbotipdocumentoEdit" class="select-require" required>
                            <option value="">Seleccione</option>
                        </select>
                    </div>


                </div>


                <div class="row">

                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="nrodocumentoEdit">Nro Documento</label>
                        <input id="nrodocumentoEdit" name="nrodocumentoEdit" type="text" required maxlength="20" />
                    </div>


                    <div class="input-field input-field-common col col s12 m4 ">
                        <label class="label active" for="Estado">Área</label>
                        <select name="cboAreaEdit" id="cboAreaEdit" class="select-require" required>
                            <option value="">Seleccione</option>
                        </select>
                    </div>


                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="cargo">Cargo</label>
                        <input id="ncargoEdit" name="ncargoEdit" type="text" required maxlength="50" />
                    </div>


                    <div class="input-field input-field-common col col s12 m4 ">
                        <label class="label active" for="Estado">Jefe</label>
                        <select name="cboJefeEdit" id="cboJefeEdit" class="select-require" required>
                            <option value="">Seleccione</option>
                        </select>
                    </div>

                    <div class="input-field input-field-common col col s12 m4 ">
                        <label class="label active" for="Estado">¿Es usuario firmante?</label>
                        <select name="cboFirmaEdit" id="cboFirmaEdit" class="select-require" required>
                            <option value="">Seleccione</option>
                        </select>
                    </div>

                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="ubicacion">Ubicación</label>
                        <input id="nubicacionEdit" name="nubicacionEdit" type="text" required maxlength="20" />
                    </div>


                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="ncelularEdit">Celular</label>
                        <input id="ncelularEdit" name="ncelularEdit" type="text" required maxlength="20" />
                    </div>



                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="anexo">Anexo</label>
                        <input id="nanexoEdit" name="nanexoEdit" type="text" required maxlength="20" />
                    </div>

                </div>


                <div class="row">
                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="email">Email</label>
                        <input id="nemailEdit" name="nemailEdit" type="text" required maxlength="50" />
                 </div>
                                    
                                   

                                                                                          

                    <div class="input-field input-field-common col col s12 m4 ">
                        <label class="label active" for="Estado">Estado</label>
                        <select name="cbEstadoEdit" id="cbEstadoEdit" class="select-require" required>
                            <option value="">Seleccione</option>
                        </select>
                    </div>




                </div>

                <div class="row">
                    <div class="col s12 btn-container">
                        <button class="btn waves-effect waves-light btn-default" id="btnEditar" type="submit">
                            <span>Guardar</span>
                            <i class="material-icons prefix">check</i>
                        </button>
                        <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelarEdicion">
                            <span>Cancelar</span>
                        </button>

                    </div>
                </div>
            </div>
        }

    </div>
</div>


