﻿@model IEnumerable<Agrobanco.SIGD.Presentacion.Models.Trabajador>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Lista de Trabajadores</title>
    <style>

        table, td, th {
            border: 1px solid #065a45;
            text-align: center;
            font-size: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            color: #00694f;
            font-size: 12px;
        }

        th, td {
            padding: 5px;
            /*width:25%;*/
        }

        td {
            font-size: 10px;
        }

        b, p {
            margin: 1px;
        }

        p {
            font-weight: 1;
            font-size: 10px;
        }

        .title {
            font-style: italic
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>

                <tr>
        <th colspan="3">
            <div><img src="{logo}" style=" width: 150px;height: auto;" /></div>
        </th>
        <th colspan="2">Lista de Trabajadores</th>
                <th colspan="7">
            <b>Sistema de Tramite Documentario</b>
            <p>Año: @DateTime.Now.Year.ToString()</p>
            <p>Fecha: @DateTime.Now.ToShortDateString()</p>
        </th>
                </tr>



                <tr>
                    <th style="width:15%;">Código</th>
                    <th style="width:35%;">Nombres</th>
                    <th style="width:15%;">Tipo Documento</th>
                    <th style="width:18%;">N° Documento</th>
                    <th style="width:18%;">Área</th>

                    <th style="width:10%;">Jefe</th>
                    <th style="width:10%;">Firmante</th>
                    <th style="width:20%;">Cargo</th>
                    <th style="width:12%;">Estado</th>
                    <th style="width:18%;">Registrado Por</th>
                    <th style="width:18%;">Fecha Registro</th>
                    <th style="width:18%;">Actualizado Por</th>
                    <th style="width:18%;">Fecha Actualizacion</th>



                </tr>
            </thead>
            <tbody>           


            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:15%;">@item.iCodTrabajador </td>
                    <td style="width:35%;">@item.vNombreCompleto</td>
                    <td style="width:15%;">@item.vTipoDocumento</td>
                    <td style="width:18%;">@item.vNumDocumento</td>
                    <td style="width:18%;">@item.vArea</td>
                    <td style="width:10%;">@(item.siEsJefe == 1 ? "SI" : "NO")</td>
                    <td style="width:10%;">@(item.siFirma == 1 ? "SI" : "NO")</td>
                    <td style="width:20%;">@item.vCargo</td>
                    <td style="width:12%;">@(item.siEstado == 1 ? "Activo" : "Inactivo")</td>
                    <td style="width:18%;">@(item.vUsuCreacion)</td>
                    <td style="width:18%;">@item.dFecCreacion)</td>
                    <td style="width:18%;">@(item.vUsuActualizacion)</td>
                    <td style="width:18%;">@item.dFecActualizacion</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</body>
</html>


