﻿@model IEnumerable<Agrobanco.SIGD.Presentacion.Models.ReportesMesaPartes>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Reporte Mesa de Partes</title>
    
    <style>

        table, td, th {
            border: 1px solid #065a45;
            text-align: center;
            font-size: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            color: #00694f;
            font-size: 12px;
        }

        th, td {
            padding: 5px;
            /*width:25%;*/
        }

        td {
            font-size: 10px;
        }

        b, p {
            margin: 1px;
        }

        p {
            font-weight: 1;
            font-size: 10px;
        }

        .title {
            font-style: italic
        }
        h3 {
            text-align: center;
        }

    </style>
</head>
<body>
    <div><img src="{logo}" style=" width: 150px;height: auto;" /></div>
    <div><h3>Reporte de Mesa de Partes</h3></div>

    <div>

        <table style="border: 0px;" >
            <thead style="border: 0px;">
                <tr style="border: 0px;">
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"> </th>
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"></th>
                    <th style="border: 0px;"></th>
                </tr>
        </thead>
            <tbody>


                @foreach (var item in Model.Select(c => c.DesArea).Distinct())
                {
                    var cantidad = 0;
                    <div><h3 style="border: 0px; text-align:left;">Area: @Html.DisplayFor(c => item)</h3></div>

                    <Table>


                        <thead>
                            <tr>
                                <th style="width:25%;">Nro Documento</th>
                                <th style="width:25%;">Nro. Trámite</th>
                                <th style="width:29%;">Institución</th>
                                <th style="width:25%;">Fecha Derivacíón</th>
                                <th style="width:28%;">Sumilla / Asunto</th>
                                <th style="width:25%;">Responsable</th>
                                <th style="width:18%;">Estado</th>
                                <th style="width:18%;">Firma / Sello</th>
                            </tr>
                        </thead>



                        @foreach (var lista in Model.Where(l => l.DesArea == item).ToList())
                        {
                            cantidad = Model.Where(l => l.DesArea == item).Count();
                        <tr>
                            <td style="width:25%;">@lista.vNumDocumento</td>
                            <td style="width:25%;">@lista.vCorrelativo</td>
                            <td style="width:29%;">@lista.Institucion</td>
                            <td style="width:25%;">@lista.FechaDerivacion</td>
                            <td style="width:28%;">@lista.vAsunto</td>
                            <td style="width:25%;">@lista.Responsable</td>
                            <td style="width:18%;">@lista.EstadoDoc</td>
                            <td style="width:18%;">@lista.FirmaSello</td>


                        </tr>
                        }


                    </Table>
                    <div><h3 style="border: 0px; font-size:10px; text-align:left;">@cantidad : Cantidad de Registros Encontrados</h3></div>
                    <br />
                }


            </tbody>
        </table>
       </div>

</body>
</html>


