﻿
@{
    ViewBag.Title = "RegistroMesaPartes";
}


<div class="row">
    <div class="col s12">
        <nav class="nav-common">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">First</a>
                    <a href="#!" class="breadcrumb">Second</a>
                    <a href="#!" class="breadcrumb">Third</a>
                </div>
            </div>
        </nav>

        <div><h1 class="title">MESA DE PARTES</h1></div>

    </div>
</div>

<div class="row p-t-20">
    <div class="col s12">
        <div class="card-header">
            <div class="row">
                <div class="col s12 l3">
                    <div class="input-field input-field-common">
                        <select name="" id="" class="input-common"></select>
                        <label class="label">Área</label>
                    </div>
                </div>
                <div class="col s6 l2">
                    <div class="input-field input-field-common">
                        <i class="material-icons icon-suffix">date_range</i>
                        <input name="" id="" type="text" class="datepicker">
                        <label for="" class="label lbl-fecha-default active">Fecha Documento</label>
                    </div>
                </div>
                <div class="col s6 l2">
                    <div class="input-field input-field-common">
                        <i class="material-icons icon-suffix">date_range</i>
                        <input name="" id="" type="text" class="datepicker">
                        <label for="" class="label lbl-fecha-default active">Fecha Documento</label>
                    </div>
                </div>
                <div class="col s12 l2">
                    <div class="input-field input-field-common">
                        <label class="label active" for="remitente">Remitente</label>
                        <input name="remitente" id="remitente" type="text" class="autocomplete">
                    </div>
                </div>
                <div class="col s12 l3">
                    <button data-target="modal-nuevo" data-keyboard="false" data-backdrop="static" class="btn modal-trigger waves-effect waves-light btn-default" type="submit" name="action">
                        <span>Nuevo</span>
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row" id="documentos-grid">

    <div class="col s6 right-align">
        <ul class="pagination">
        </ul>
    </div>

    <div class="col s12">

        <div class="table-common">
            <div class="row row-title hide-on-small-only">

                <div class="col s12 m1">N de documento</div>
                <div class="col s12 m2">N de Referencia</div>
                <div class="col s12 m2">Institución</div>
                <div class="col s12 m1">Fecha Derivación</div>
                <div class="col s12 m2">Sumilla/Asunto</div>
                <div class="col s12 m1">Responsable</div>
                <div class="col s12 m1">Firma/Sello</div>
                <div class="col s12 m2">
                   
                </div>
            </div>
            <div class="row">

                <div class="col s12 m1">345654</div>
                <div class="col s12 m2">801-2019-MINANGRIP-PCC</div>
                <div class="col s12 m2">Ministerio de agricultura y riesgo</div>
                <div class="col s12 m1">17-09-2019 13:17:00</div>
                <div class="col s12 m2">fdsfsd dsfs d f sffsfff sdfsddsf sd fds fd</div>
                <div class="col s12 m1"></div>
                <div class="col s12 m1"></div>
                <div class="col s12 m2">
                    <a class='dropdown-trigger btn dropdown-content-button' href='#' data-target='dropdown2'>
                        <i class="material-icons">more_horiz</i>
                    </a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown2' class='dropdown-content dropdown-content-icon'>
                        <li><a href="#!"><i class="material-icons">picture_as_pdf</i><span>exportar</span></a></li>
                        <li><a href="#!"><i class="material-icons">print</i><span>Imprimir</span></a></li>
                        <li><a href="#!"><i class="material-icons">get_app</i><span>Descargar</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>
