﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using System.Configuration;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Entidades.EntidadesDb2




@model ReportesMesaPartesViewModel

@{
    ViewBag.Title = "RegMesaPartes";
    int codArea = 1;
    EUsuario userSession = Agrobanco.SIGD.Presentacion.Filters.HelperSeguridad.ObtenerSessionUsuario();

    //Layout = "../../../../Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
    </style>
}


<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">INICIO</a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                </div>
            </div>
        </nav>

        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Reporte de Mesa de Partes</h1>
            </div>
        </div>

    </div>
</div>

<div class="section p-t-20 no-pad-top">
    <div class="row">

        @using (Ajax.BeginForm("RegMesaPartes", "Reportes",
      new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess",  InsertionMode = InsertionMode.Replace, UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
        {
            //<input type="hidden" name="ARRcodigosAreas" id="ARRcodigosAreas" />

            <input type="hidden" id="HD_FecInicio" name="HD_FecInicio" />
            <input type="hidden" id="HD_FecFin" name="HD_FecFin" />
            <input type="hidden" id="HD_codArea" name="HD_codArea" />
            <input type="hidden" id="HD_codTipDoc" name="HD_codTipDoc" />
            <input type="hidden" id="HD_codEstadoDoc" name="HD_codEstadoDoc" />


            <div class="col s12 m2 l2">
                <div class="input-field input-field-common">
                    <select name="cboArea" id="cboArea" class="input-common" multiple>
                        <option value="" disabled selected>Seleccione</option>
                    </select>
                    <label class="label">Área</label>
                </div>
            </div>


            <div class="col s12 m2 l2">
                <div class="input-field input-field-common">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="fecInicio" id="fecInicio" type="text" class="datepicker">
                    <label for="" class="label lbl-fecha-default active">Fecha Inicio</label>
                </div>
            </div>



            <div class="col s12 m2 l2">
                <div class="input-field input-field-common">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="fecFinal" id="fecFinal" type="text" class="datepicker">
                    <label for="" class="label lbl-fecha-default active">Fecha Fin</label>
                </div>
            </div>


            <div class="col s12 m2 l2">
                <div class="input-field input-field-common">
                    <select name="cboTipoDocumento" id="cboTipoDocumento" class="input-common" multiple>
                        <option value="" disabled selected>Seleccione</option>
                    </select>
                    <label class="label">Tipo de Documento</label>
                </div>
            </div>

            <div class="col s12 m2 l2">
                <div class="input-field input-field-common">
                    <select name="cboEstadoDocumento" id="cboEstadoDocumento" class="input-common" multiple></select>
                    <label class="label">Estado</label>
                </div>
            </div>

            <div class="col s12 m2 l2 text-right">
                <button class="btn waves-effect waves-light btn-default-resize" id="btnBuscar" name="btnBuscar">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>

        }

    </div>
</div>





<div class="row" id="documentos-grid">
    @{
        Html.RenderPartial("_SearchRegMesaPartes", Model.ResultadoBusqueda);
    }
</div>




<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
    @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}


@Scripts.Render("~/Scripts/app/Servicios.js")
@Scripts.Render("~/Scripts/app/Reportes/RepMesaPartes.js")
@Scripts.Render("~/Scripts/app/RedirectSSA.js")





