﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@model IPagedList<Agrobanco.SIGD.Presentacion.Models.DocumentoBandejaDTO>

<div class="col s6 m3 l2">
    <a class="a-link" href="@(Url.Action("ExportarPDF"))?searchString=@(ViewBag.FiltrosActuales)&FechaDesde=@(ViewBag.FechaRegistroDesde)&FechaHasta=@(ViewBag.FechaRegistroHasta)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>
<div class="col s6 m3 l2">
    <a class="a-link" href="@(Url.Action("ExportarExcel"))?searchString=@(ViewBag.FiltrosActuales)&FechaDesde=@(ViewBag.FechaRegistroDesde)&FechaHasta=@(ViewBag.FechaRegistroHasta)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>


<div class="col s6 m6 l8 right-align text-right">
    <ul class="pagination no-margin">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, searchString = ViewBag.FiltrosActuales, FechaRegistroDesde = ViewBag.FechaRegistroDesde, FechaRegistroHasta = ViewBag.FechaRegistroHasta }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>

<div class="col s12 table-listas">

    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">

            <div class="col s12 m1">Estado</div>
            <div class="col s12 m1">Recibido</div>
            <div class="col s12 m1">Nro. Trámite</div>
            <div class="col s12 m2">Documento</div>
            <div class="col s12 m2">Remitente</div>
            <div class="col s12 m2">Derivado</div>
            <div class="col s12 m1">Plazo</div>
            <div class="col s12 m2">
                <div class="row row-icons">
                    @*<div class="col s4">Adj</div>*@
                    <div class="col s4">Ver</div>
                    <div class="col s4">Editar</div>
                </div>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">

                <div class="col s8 m1 no-padding">
                    <div class="col s3 m3 l3 no-padding badge-small2" title="@item.EstadoPrioridad.ToString()">
                        @switch (item.Prioridad)
                        {
                            case 1: //baja
                                <span class="new badge icon-badge badge-blue" data-badge-caption="">
                                    <i class="material-icons">arrow_downward</i>
                                </span>
                                break;
                            case 2: //media
                                <span class="new badge icon-badge badge-green" data-badge-caption="">
                                    <i class="material-icons">remove</i>
                                </span>
                                break;
                            case 3: //alta
                                <span class="new badge icon-badge badge-yellow" data-badge-caption="">
                                    <i class="material-icons">arrow_upward</i>
                                </span>
                                break;
                            case 4: //urgente
                                <span class="new badge icon-badge badge-pink" data-badge-caption="">
                                    <i class="material-icons">priority_high</i>
                                </span>
                                break;
                        }
                    </div>
                    <div class="col s9 m9 l9 no-padding">
                        @switch (item.EstadoDocumento)
                        {
                            case 1:
                                <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                break;
                            case 2:
                                <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                                break;
                            case 3:
                                <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                break;
                            case 4:
                                <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                                break;
                            case 5:
                                <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                                break;
                            case 6:
                                <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                                break;
                            case 7:
                                <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                                break;
                            default:
                                break;
                        }
                    </div>
                </div>
                <div class="col s4 m1">@Html.DisplayFor(modelItem => item.Recepcion) </div>
                <div class="col s12 m1  hide-on-small-only"> @Html.DisplayFor(modelItem => item.Correlativo)</div>
                <div class="col s12 m2 text-wrap">
                    <p class="title">@Html.DisplayFor(modelItem => item.Documento)</p>
                    <p> @Html.DisplayFor(modelItem => item.DocumentoAsunto)</p>
                </div>
                <div class="col s12 m2 text-wrap">
                    <b>@Html.DisplayFor(modelItem => item.NombreEmpresa)</b><br />
                    @Html.DisplayFor(modelItem => item.Remitente)
                </div>
                <div class="col s12 m2 text-wrap">
                    <b>@Html.DisplayFor(modelItem => item.Derivado)</b><br />
                    @Html.DisplayFor(modelItem => item.NombreTrabajador)
                </div>
                <div class="col s6 m1">@Html.DisplayFor(modelItem => item.Plazo)</div>
                <div class="col s6 m2">
                    <div class="row row-icons">
                        @*@if (!string.IsNullOrEmpty(item.ExisteAdjunto))
                            {
                                <div class="col s4 m4">
                                    <a href="@Url.Action("ExportarArchivosZIP", new { codDocumento = item.ExisteAdjunto })" class="material-icons" style="cursor: pointer;">attach_file</a>
                                </div>
                            }
                            else
                            {
                                <div class="col s4 m4">
                                </div>
                            }*@
                        <div class="col s4 m4"><i id="idVerDocumento" data-target="ptv-DocumentoMesaPartes" data-id="@item.CodDocumento" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">visibility</i></div>
                        @if (item.EstadoDocumento == 1 || item.EstadoDocumento == 7)
                        {
                            <div class="col s4 m4"><i id="idDocumentoEdit" data-target="ptv-DocumentoMesaParteseEdit" data-id="@item.CodDocumento" data-estado="@item.EstadoDocumento" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">create</i></div>
                        }
                        else
                        {

                            <div class="col s4 m4">
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

