﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using System.Configuration;

@model IPagedList<Agrobanco.SIGD.Presentacion.Models.DocumentoBandejaDTO>

@{
    /**/

    ViewBag.Title = "Home Page";
}



@section css{
    <style>
    </style>
}

<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">INICIO</a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                </div>
            </div>
        </nav>

        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">
                    MESA DE PARTES
                </h1>
            </div>
        </div>

    </div>
</div>

<div class="row p-t-20">
    <!--<div class="col s9 m9 l12">-->
    <div>
        @using (Ajax.BeginForm("BuscarDocumentos", "MesaPartes",
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", InsertionMode = InsertionMode.Replace, UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
        {
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common ">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="FechaRegistroDesde" id="FechaRegistroDesde" type="text" class="datepicker">
                    <label for="FechaRegistroDesde" class="label lbl-fecha-default">Fecha Registro - Desde</label>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common ">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="FechaRegistroHasta" id="FechaRegistroHasta" type="text" class="datepicker">
                    <label for="FechaRegistroHasta" class="label lbl-fecha-default">Fecha Registro - Hasta</label>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="input-field input-field-search">
                    <input id="searchString" name="searchString" type="search" class="validate" autocomplete="off" placeholder="Escribe una consulta o utiliza una palabra clave">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <button class="btn waves-effect waves-light btn-default-resize">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>

        }
        <label for="icon_prefix"></label>

        <div class="col s12 m6 l2">
            <button data-target="modal-nuevo" data-keyboard="false" data-backdrop="static" class="btn modal-trigger waves-effect waves-light btn-default-resize" type="submit" name="action">
                <span>Nuevo</span>
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
</div>

<div class="row" id="documentos-grid">
    @{
        Html.RenderPartial("_ListaDocumentos", Model);
    }
</div>

<div>
    @Html.Partial("NuevoDocumento")
</div>
<div>
    @Html.Partial("EditarDocumento")
</div>
<div id="ptv-DocumentoMesaPartes" class="modal" data-keyboard="false" data-backdrop="static">
</div>
<div>
    @Html.Partial("AnularConfirm")
</div>

<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
    @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}

@Scripts.Render("~/Scripts/app/Servicios.js")
@Scripts.Render("~/Scripts/app/MesaPartes")
@Scripts.Render("~/Scripts/app/ArbolSeguimiento.js")
@Scripts.Render("~/Scripts/app/RedirectSSA.js")