﻿@model IEnumerable<Agrobanco.SIGD.Presentacion.Models.DocumentoBandejaDTO>

@{
Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Bandeja Mesa Partes</title>

    <style>

        html * {
            font-family: Arial, helvetica;
            color: #666;
        }

        #BandejaMesaPartes {
            position: relative;
        }

        .col-xs-12 {
            width: 100%;
            margin: 0;
            display: block;
        }

        .half-table-container {
            padding: 0 20px;
        }

        .table {
            width: 100%;
            margin: 0 0 30px 0;
        }

            .table td {
                vertical-align: middle;
                padding: 3px 8px;
                height: 35px;
                margin: 0;
                /*font-size: 15px;*/
                font-size: 9pt;
                font-weight: 400;
                /*border-bottom: 1px solid #ddd;*/
            }

        table td, table th {
            text-align: center;
        }

        table th {
            height: 30px;
            font-size: 11pt;
        }

        .top-border {
            padding-top: 12px !important;
        }

        .bottom-border {
            border-bottom: 1px solid #ddd;
            padding-bottom: 12px !important;
        }

        .header {
            width: 100%;
            height: 60px;
            float: left;
            line-height: 25px;
            border-bottom: 0px solid #666;
        }

        hr {
            width: 100%;
            height: 1px;
            background: #ddd;
            float: left;
            margin: 0px 0 20px 0;
        }

        .header .img {
            width: 170px;
            height: 40px;
            float: left;
        }

        .header .h1 {
            font-size: 32px;
            float: left;
            font-weight: 300;
            width: 20%;
            color: #666;
        }

        .header .h2 {
            font-size: 32px;
            float: left;
            font-weight: 300;
            width: 80%;
            color: #666;
        }

        .header .p, .footer {
            font-size: 12px;
            float: right;
            font-style: italic;
            font-weight: 500;
            width: 160px;
            text-align: right;
            padding: 0;
            margin: 0;
            color: #666;
        }

        .p.uno {
            width: 240px;
        }
    </style>

</head>
<body>
    <div id="BandejaMesaPartes" style="float: left; width: 100%;">

        <div class="header">
            <div class="h1" style="">
                <img class="img" src="{logo}" />
            </div>
            <div class="h2" style=" text-align: center;">
                Bandeja Mesa Partes
            </div>
        </div>

        <hr />
        <div class="col s12">

            <div class="col-xs-12 half-table-container">
                <table class="table datatable half-table" cellpadding="0" cellspacing="0" >
                    <thead>
                        <tr>
                          
                            <th class="bottom-border">Recibido</th>
                            <th class="bottom-border">Reg.</th>
                            <th class="bottom-border">Documento</th>
                            <th class="bottom-border">Remitente</th>
                            <th class="bottom-border">Derivado</th>
                            <th class="bottom-border">Plazo</th>
                         
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                              
                                <td class="top-border">@item.Recibido</td>
                                <td class="top-border">@item.Reg</td>
                                <td class="top-border">
                                    <p class="title">@item.Documento</p>
                                    <p> @item.DocumentoAsunto</p>
                                </td>
                                <td class="top-border">@item.Remitente</td>
                                <td class="top-border">@item.Derivado</td>
                                <td class="top-border">@item.Plazo</td>
                                

                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
  </div>
</body>
</html>

