﻿@model IEnumerable<Agrobanco.SIGD.Presentacion.Models.DocumentoBandejaDTO>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Bandeja de Entrada - Recibidos</title>
    <style>
        table, td, th {
            border: 1px solid #065a45;
            text-align: center;
            font-size: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            color: #00694f;
            font-size: 12px;
        }

        th, td {
            padding: 5px;
        }

        td {
            font-size: 10px;
        }

        b, p {
            margin: 1px;
        }

        p {
            font-weight: 1;
            font-size: 10px;
        }

        .title {
            font-style: italic
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="2" width="150px">
                        <div><img src="{logo}" style=" width: 150px;height: auto;" /></div>
                    </th>
                    <th colspan="3">Lista de Documentos Bandeja de Entrada - Recibidos</th>
                    <th colspan="2" width="210px">
                        <b>Sistema de Tramite Documentario</b>
                        <p>Año: @DateTime.Now.Year.ToString()</p>
                        <p>Fecha: @DateTime.Now.ToShortDateString()</p>
                    </th>
                </tr>
                <tr>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Recibido</th>
                    <th>Nro.Trámite</th>
                    <th>Documento</th>
                    <th>Remitente</th>
                    <th>Plazo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.EstadoPrioridad
                        </td>
                        <td>
                            @item.EstadoDescripcion
                        </td>
                        <td>@item.Recepcion</td>
                        <td>@item.Correlativo</td>
                        <td>
                            <p class="title">@item.Documento</p>
                            <p> @item.DocumentoAsunto</p>
                        </td>
                        <td>
                            @if (item.siFlagSIED == "2")
                            {
                                <p class="title">@item.TipoEntidadSIED</p>
                                <p>@item.EntidadSIED</p>
                            }
                            else
                            {
                                <p class="title">@item.NombreEmpresa</p>
                                <p>@item.Remitente</p>
                            }
                        </td>
                        <td>@item.Plazo</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>